/config/dbconnection.php
/config/symbini.php
/footer_template.php
/header_template.php
/leftmenu.php
/index_template.php
content/lang/header.en.php
content/lang/header.es.php
content/lang/index.en.php
content/lang/index.es.php
includes/header_template.php
includes/footer_template.php
includes/head_template.php
includes/leftmenu.php
includes/spprofilehead.php
includes/usagepolicy.php
includes/citationgbif.php
includes/citationcollection.php
includes/citationdataset.php
includes/citationportal.php
.project
.settings/org.eclipse.core.resources.prefs

content/lang/header.fr.php
.settings/org.eclipse.php.ui.prefs
css/.DS_Store
.DS_Store
.DS-Store
css/.DS_Store

.DS_Store
.DS_Store
