.gauge-bg {
    fill:#cbcbcb/*#F8FBF4;*/
}

.gauge-grid {
    fill:none;
    stroke:#ffffff; /*#70A236;*/
    stroke-width:0.5;
}

.gauge-area {
    fill:#537828;
    opacity:0.8;
}

.gauge-line {
    fill:none;
    stroke:#537828;
    stroke-width:2;
}

.gauge-legend-horizontal {
    font-size:0.5em;
    fill:#000000;
    font-family: sans-serif;
}

.gauge-legend-vertical {
    font-size:0.5em;
    fill:#000000;
    font-family: sans-serif;
}

.gauge-area.prec {
    fill:#0099ff;
    opacity:0.5;
}

.gauge-line.prec {
    fill:none;
    stroke:#002e4d;
    stroke-width:2;
}

.gauge-area.temp {
    fill:#ff5050;
    opacity:0.5;
}

.gauge-line.temp {
    fill:none;
    stroke:#800000;
    stroke-width:2;
}